/*

CONTAINER:
• Justify content - how the elements are being spread within the containers *width*
• Align Items - *height* of elements within the container
• Flex-Wrap: /n when there is no space in the row of the container
• Gap (row gap) - the gap between the elements within a row of the container

ITEM:
• Flex-Grow: how much space the item will receive of the remaining space in the row
• Flex-shrink: Shrink a specific element in order to fit within the row
• Align-Self: *height* of a specific element within its container

*/

.container {
  border: 2px solid brown;
  width: 600px;
  height: 500px;
  display: flex; /* Aligned all its items in 1 row */
  flex-direction: row; /* Aligned its items in a row per each item */
}

.box {
  background-color: antiquewhite;
  border: 1px solid black;
  text-align: center;
  width: 200px;
  height: 200px;
  align-self: flex-start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.box:nth-child(odd) {
  align-self: flex-end;
}
